/* Importing Open Sans font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

@font-face {
    font-family: 'Minecraft-regular';
    src: url('../fonts/minecraft_font.ttf') format('truetype'),
    url('../fonts/minecraft_font.woff') format('woff');
  }
  


/* General styling */
* {
    margin: 0;
    padding: 0;
    font-family: "Minecraft-regular"; /* Setting default font */
}

/* Styling for headings and paragraphs */
h1, h2, h3, p {
    color: white;
}

body {
    background-image:url(https://i.redd.it/ujea79c0p7p01.png);
    background-repeat: repeat;
}

.subtitle {
    font-style: italic;
    font-size: 18px;
}

/* Styling for header/navigation */
header {
    background: #000000;
    border-bottom: 0.2rem solid rgba($color: grey, $alpha: 0.6); /* Border bottom with rgba color */
}

.nav {
    font-size: 1rem;
    font-weight: bold;

    /* Logo and menu item styling */
    &-logo,
    &-menu {
        list-style: none;

        /* Styling for list items, lists, and links */
        &__item,
        &__list,
        &__link {
            text-decoration: none;
            color: white;
        }


        /* Positioning for links */
        &__item:hover {
            background: linear-gradient(127deg, #f05454, #f09f52, #f0c252, #78f052, #52bcf0, #9552f0, #f052b2); /* Gradient background */
            background-size: 1400% 1400%; /* Background size */
            -webkit-animation: rainbow 8s ease infinite; /* Animation */
            -moz-animation: rainbow 8s ease infinite; /* Animation */
            -o-animation: rainbow 8s ease infinite; /* Animation */
            animation: rainbow 8s ease infinite; /* Animation */
            border-radius: 1.25rem;
        }
    }
}

/* Main container styling */
.container {
    border-radius: 0.5rem;
    box-shadow: 0 0.3rem 0.5rem 0 rgb(255, 255, 255), 0 6px 20px 0 rgba(255, 255, 255, 0.571); /* Box shadow */
    z-index: 2; /* Stack order */
    background-image: url(../images/yw.jpg);
    background-repeat: repeat;
    background-color: yellow; /* Set a background color to blend with the image */


    /* Border styling */
    &__border {
        border-radius: 0.5rem;
    }

    &__heading, &__description, &__img-text{
        color: #000;
    }
}

/* Styling for social media container */
.container--social {

    /* Social media item styling */
    &__item {
        list-style: none;
        background-color: rgb(255, 255, 255);
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 0.5rem 0 rgba(255, 255, 255, 0.84), 0 6px 20px 0 rgba(255, 255, 255, 0.97); /* Box shadow */
        z-index: 2;
    }

    /* Link styling */
    &__link {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    /* Hover effect */
    &__item:hover {
        background: linear-gradient(127deg, #f05454, #f09f52, #f0c252, #78f052, #52bcf0, #9552f0, #f052b2); /* Gradient background */
        background-size: 1400% 1400%; /* Background size */
        -webkit-animation: rainbow 8s ease infinite; /* Animation */
        -moz-animation: rainbow 8s ease infinite; /* Animation */
        -o-animation: rainbow 8s ease infinite; /* Animation */
        animation: rainbow 8s ease infinite; /* Animation */
    }
}

/* Rgb animation */
@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 76%;
    }
    50% {
        background-position: 100% 25%;
    }
    100% {
        background-position: 0% 76%;
    }
}
@-moz-keyframes rainbow {
    0% {
        background-position: 0% 76%;
    }
    50% {
        background-position: 100% 25%;
    }
    100% {
        background-position: 0% 76%;
    }
}
@-o-keyframes rainbow {
    0% {
        background-position: 0% 76%;
    }
    50% {
        background-position: 100% 25%;
    }
    100% {
        background-position: 0% 76%;
    }
}
@keyframes rainbow {
    0% {
        background-position: 0% 76%;
    }
    50% {
        background-position: 100% 25%;
    }
    100% {
        background-position: 0% 76%;
    }
}
//  Footer
 .footer {
     background-color: black;


    &__link {
        color: yellow;
    }
  
   }
